language: php
php:
  - 5.5
  - 5.6
  - 7.0

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction

script:
  - composer test
  - CODECLIMATE_REPO_TOKEN=73ad246adf9647dd7723844390f90496fe1b9ac5313807f593bffa52c7b764c1 ./vendor/bin/test-reporter

matrix:
  allow_failures:
    - php: 7.0
