<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="All tests">
            <directory>.</directory>
            <exclude>../vendor/</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
        <blacklist>
            <directory>../vendor</directory>
        </blacklist>
    </filter>
</phpunit>