<?php

return [
    'dbEngine' => '',
    'mysql' => [
        'dbname' => '',
        'user' => '',
        'password' => '',
        'host' => '',
        'driver' => 'mysqli'
    ],
    'debug' => false,
    'authentication' => [
        'outgoingKey' => null,
    ],
];
