<?php

return [
    'dbEngine' => '',
    'mysql' => [
        'dbname' => '',
        'user' => '',
        'password' => '',
        'host' => '',
        'driver' => 'mysqli'
    ],
    'debug' => false,
    'authentication' => [
        'hub' => [
            'allowedStrategies' => ['simple'],
            'settingsByStrategy' => [
                'simple' => [
                    'authenticationMethod' => '',
                    'authenticationKey' => null,
                ]
            ]
        ],
        'manager' => [
            'allowedStrategies' => ['simple'],
            'settingsByStrategy' => [
                'simple' => [
                    'authenticationMethod' => '',
                    'authenticationKey' => null,
                ]
            ]
        ],
    ],
];
