<?php

return [
    'dbEngine' => '',
    'mysql' => [
        'dbname' => '',
        'user' => '',
        'password' => '',
        'host' => '',
        'driver' => 'mysqli'
    ],
    'debug' => false,
    'authentication' => [
        'hub' => [
            'allowedStrategies' => ['simple'],
            'settingsByStrategy' => [
                'simple' => [
                    'authenticationMethod' => '',
                    'authenticationKey' => null,
                ]
            ]
        ],
        'manager' => [
            'allowedStrategies' => ['simple'],
            'settingsByStrategy' => [
                'simple' => [
                    'authenticationMethod' => '',
                    'authenticationKey' => null,
                ]
            ]
        ],
    ],
    'logging' => [
        'logfile' => __DIR__.'/../build/log/complete.log',
        'projectNameForLogging' => 'rpg-reputation-list',
        'logLevel' => \Monolog\Logger::WARNING,
        'logLevelDebug' => \Monolog\Logger::NOTICE,
    ],
];
